<div id="userView" class="roundupform">
  <div>
    <h1><%= @user.to_s %></h1>
    <% if current_user && current_user == @user %>
      <%= link_to 'Edit', edit_user_path(@user), { :class=>"button", :id=>"editButton"} %>
    <% end %>
  </div>
  <div style="clear: both;"></div>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <hr />
  <% if current_user && current_user == @user %>
      <%= link_to 'Change Password', changepassword_user_path(@user), { :class=>"button", :id=>"changePasswordButton"} %>
    <% end %>
</div>