<div id="userView" class="roundupform">
  <div>
    <h1><%= @user.to_s %></h1>
    <% if current_user && current_user == @user %>
      <%= link_to 'Edit', edit_user_path(@user), { :class=>"button", :id=>"editButton"} %>
    <% end %>
  </div>
  <div style="clear: both;"></div>
  <p id="notice"><%= notice %></p>
  <% if current_user && current_user == @user %>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <% end %>
  <% if current_user && current_user == @user %>
    <hr />
    <%= link_to 'Change Password', changepassword_user_path(@user), { :class=>"button", :id=>"changePasswordButton"} %>
  <% end %>
  <% if @user.events.count > 0 %>
  <hr />
  <div id="tabs">
    <ul>
      <li><h2 class="button">Hosted Events</h2></li>
      <% if current_user && current_user == @user %>
      <li><h2 class="button">Events I've RSVP'ed</h2></li>
      <% end %>
    </ul>
  </div>
  <div id="hostedEvents">
    <ul id="eventlist">
    <% @user.events.order(startdatetime: :desc).each do |event| %>
      <li>
        <%= render 'events/event', :event => event %>
      </li>
    <% end %>
    </ul>
  </div>
  <% if current_user && current_user == @user %>
  <div id="rsvpEvents">
    <ul id="eventlist">
    <% @user.attending_events.order(startdatetime: :asc).each do |event| %>
      <li>
        <%= render 'events/event', :event => event %>
      </li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <% end %>
</div>
<script>
  $(function() {
    $('#tabs > ul > li').click(function() {
      var ix = $(this).index();
      
      $('#hostedEvents').toggle( ix === 0 );
      $('#rsvpEvents').toggle( ix === 1 );
    });
  });
</script>