<div id="userView" class="roundupform">
  <div>
    <h1><%= @user.to_s %></h1>
    <% if current_user && current_user == @user %>
      <%= link_to 'Edit', edit_user_path(@user), { :class=>"button", :id=>"editButton"} %>
    <% end %>
  </div>
  <div style="clear: both;"></div>
  <p id="notice"><%= notice %></p>
  <% if current_user && current_user == @user %>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <% end %>
  <% if current_user && current_user == @user %>
    <hr />
    <%= link_to 'Change Password', changepassword_user_path(@user), { :class=>"button", :id=>"changePasswordButton"} %>
  <% end %>
  <hr />
  <div>
    <h2>Hosted Events</h2>
    <ul id="eventlist">
    <% @user.events.order(startdatetime: :desc).each do |event| %>
      <li>
        <%= render 'events/event', :event => event %>
      </li>
    <% end %>
    </ul>
  </div>
</div>