<% is_old_event = event.startdatetime < DateTime.now %>
<% has_rsvp = current_user && current_user.rsvps.exists?(event_id: event.id) %>
<% num_going = event.rsvps.where( is_going: true ).count %>
<div class="<%= is_old_event ? "oldevent eventCard" : "eventCard" %>" >
  <div <%= has_rsvp ? "class=sliver" : "" %> >
  </div>
  <div class="eventCardInfo">
    <div class="datetime">
      <time datetime=<%= "#{event.startdatetime}"%>>
        <p class="date"><%= event.startdatetime.strftime("%A, %B %e") %></p>
        <p class="time">
          <%= event.startdatetime.strftime("%l:%M") %>
          <span class="ampm"><%= event.startdatetime.strftime("%p") %></span>
        </p>
      </time>
    </div>
    <% if current_user && current_user == event.user %>
    <div class="controls">
        <%= link_to 'Edit', edit_event_path(event), { :class=>"button" } %> 
        <%= link_to 'Destroy', event, method: :delete, :class=>"button", data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
    <div class="title">
      <h2><%= link_to "#{event.title}", event %></h2>
      <%= num_going > 0 ? "#{pluralize(num_going, 'person', 'people') } going" : "" %>
    </div>
    <div style="clear:both; padding: 0px;"></div>
    <% if ( has_rsvp ) %>
    <div class="eventrsvpbadge">
      <% rsvp = current_user.rsvps.find_by(event_id: event.id) %>
      <% if is_old_event %>
        <%= rsvp.is_going ? "You went." : "You couldn't make it." %>
      <% else %>
        <%= rsvp.is_going ? "Your going!" : "You can't make it." %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>