<p id="notice"><%= notice %></p>

<h1>Roundup Events</h1>

<ul id="eventlist">
<% @events.each do |event| %>
  <li>
    <div class="datetime">
      <time datetime=<%= "#{event.startdatetime}"%>>
        <p class="date"><%= event.startdatetime.strftime("%A, %B %e") %></p>
        <p class="time">
          <%= event.startdatetime.strftime("%l:%M") %>
          <span class="ampm"><%= event.startdatetime.strftime("%p") %></span>
        </p>
      </time>
    </div>
    <div class="controls">
        <p><%= link_to 'Edit', edit_event_path(event) %> 
           <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    <div class="title">
      <h2><%= link_to "#{event.title}", event %></h2>
    </div>
  </li>
<% end %>
</ul>

<br>

<%= link_to 'New Event', new_event_path %>
