<div id="eventView" class="roundupform">
  <div id="eventViewRSVPs">
    <% if current_user %>
      <% if @event.user != current_user %>
        <% if @rsvp.is_going == true %>
          <%= render 'rsvps/goingform' %>
        <% elsif @rsvp.is_going == false %>
          <%= render 'rsvps/notgoingform' %>
        <% else %>
          <%= render 'rsvps/form' %>
        <% end %>
        <hr />
      <% end %>
    <% else %>
      <h2>Want to go?</h2>
      <%= link_to "Sign Up", signup_path, { :class =>"button", :style => "margin-left: 20px;" } %>
      <hr />
    <% end %>
    <div>
      <h2>Hosted By</h2>
      <p><%= current_user ? link_to(@event.user.to_s, @event.user) : @event.user.to_s %></p>
    </div>
    <% numGoing = @event.attendies_going.count %>
    <% numNotGoing = @event.attendies_not_going.count %>
    <% if numGoing > 0 %>
    <div>
      <h2><%= "#{numGoing} going" %></h2>
      <hr />
      <% @event.attendies_going.each do |attendy| %>
          <p><%= current_user ? link_to(attendy.to_s, attendy) : attendy.to_s %></p>
      <% end %>
    </div>
    <% end %>
    <% if ( numGoing > 0 ) and (numNotGoing > 0) %>
    <hr />
    <% end %>
    <% if numNotGoing > 0 %>
    <div>
      <h2><%= "#{numNotGoing} not going" %></h2>
      <hr />
      <% @event.attendies_not_going.each do |attendy| %>
          <p><%= current_user ? link_to(attendy.to_s, attendy) : attendy.to_s %></p>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="eventViewDetails">
    <div>
      <h1><%= @event.title %></h1>
      <% if current_user && current_user == @event.user %>
      <%= link_to 'Edit', edit_event_path(@event), { :class=>"button", :id=>"editButton"} %>
      <% end %>
    </div>
    <div style="clear: both;"></div>
    <p id="notice"><%= notice %></p>
    <div class="datetime">
      <time datetime=<%= "#{@event.startdatetime}"%>>
        <p class="date"><%= @event.startdatetime.strftime("%A, %B %e, %Y") %></p>
        <p>
          <%= @event.startdatetime.strftime("%l:%M") %>
          <span class="ampm"><%= @event.startdatetime.strftime("%p") %></span>
        </p>
      </time>
    </div>
    <div class="location">
      <p><%= @event.location %></p>
    </div>
    <hr />
    <pre class="description"><%= @event.description %></pre>
    <hr />   
    
    <%= link_to 'Back to Events', events_path, { :class=>"button" } %>
  </div>
  <div style="clear: both;"></div>
</div>