<div id="rsvpNo">
	<h2>Your RSVP: No</h2>
	<% if @rsvp.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this event from being saved:</h2>

	      <ul>
	      <% @rsvp.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
	<div>
		<%= form_for(@rsvp) do |f| %>
		  <%= hidden_field_tag :event_id, @event.id %>
		  <%= hidden_field_tag :is_going, 1 %>
		  <div class="actions">
		    <%= f.submit "I Can make it!", :class=>"button" %>
		  </div>
		<% end %>
	</div>
</div>